.education-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.education {
  /* border: 1px solid black; */
  padding: 2em;

}


.education-heading h2 {
  letter-spacing: 2px;
  font-size: 40px;
}

.education-heading h2>span {
  color: rgb(30, 0, 139);
  text-shadow: 2px 2px 2px #7700ff;
}

.hover {
  color: #0000;
  background:
    linear-gradient(90deg, rgb(30, 0, 139) 50%, #000 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.hover:hover {
  cursor: pointer;
  --_p: 0%;
  text-shadow: 2px 2px 2px #7700ff;
}

.education-heading img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.education-heading img:hover {
  animation: moveUp 2s linear forwards;
  animation-iteration-count: 3;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(1em);
  }

  50% {
    transform: translateY(0) rotate(360deg);
  }

  75% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(0) rotate(360deg);
  }
}



.hide-component {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-component {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}



#bigger-heading {
  display: none;
}

.section {
  padding: 1rem 1rem;
}

.show-component[_ngcontent-vpm-c6] {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.education[_ngcontent-vpm-c6] {
  padding: 1em;
}

.is-inline-block {
  display: inline-block !important;
}

.mr-3 {
  margin-right: 0.75rem !important;
  width: 40px;
}

.is-radius {
  border-radius: 6px;
}

.is-top {
  top: 0;
}

.is-left {
  left: 0;
}

.is-absolute {
  position: absolute;
}

.has-background-link {
  background-color: #9032dc !important;
}

img {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .education-heading h2 {
    font-size: 28px;
  }

  #smaller-heading {
    display: block;
  }
}

@media screen and (min-width:961px) {
  #smaller-heading {
    display: none;
  }

  #bigger-heading {
    display: block;
  }
}