<div class="education">
    <div class="education-heading">
        <img src="..\assets\images\education.png" alt="education-logo">
        <h2 class="hover" id="bigger-heading" style="height: 2.5rem;">My<span> Academic Journey</span></h2>
        <h2 class="hover" id="smaller-heading">My<span> Academics</span></h2>
    </div>
    <section data-section-id="1" data-share="" data-category="tables" data-component-id="155b5733_02_awz"
        class="section">
        <div class="container">
            <div class="box p-0">
                <div class="table-container is-size-6-mobile">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th class="py-4 has-text-weight-bold">School Name</th>
                                <th class="py-4 has-text-weight-bold">Address</th>
                                <th class="py-4 has-text-weight-bold">Degree</th>
                                <th class="py-4 has-text-weight-bold">Specialization</th>
                                <th class="py-4 has-text-weight-bold">Status</th>
                                <th class="py-4 has-text-weight-bold">Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let academicRecord of academicData">
                                <td>
                                    <img class="mr-3 is-inline-block is-64x64" [src]="academicRecord.imageSrc" alt="school-image">
                                    <div class="is-inline-block">
                                        <p class="is-size-8 has-text-weight-semibold">{{ academicRecord.schoolName }}</p>
                                        <a class="is-size-7" [href]="academicRecord.website" target="_blank">Visit Site</a>
                                    </div>
                                </td>
                                <td class="py-4 is-size-8 has-text-weight-normal">{{ academicRecord.address }}</td>
                                <td class="py-4 is-size-8 has-text-weight-normal">{{ academicRecord.degree }}</td>
                                <td class="py-4 is-size-8 has-text-weight-normal">{{ academicRecord.specialization }}</td>
                                <td class="py-4">
                                    <span class="tag has-background-link-light has-text-primary has-text-weight-semibold is-uppercase is-rounded">{{ academicRecord.status }}</span>
                                </td>
                                <td>
                                    <div class="px-3">
                                        <p class="is-size-8 has-text-weight-semibold">{{ academicRecord.marks }}</p>
                                        <div class="is-relative p-1 has-background-grey-light is-radius">
                                            <div class="is-absolute is-top is-left has-background-link is-radius"
                                                [style.width]="academicRecord.marks" style="height: 100%;"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
