<div class="not-found">
    <ul>
    <li><img src="..\assets\images\notfound.png" alt="" id="sad-img"></li>
    <li><h1>Err <span style="color: red;">404</span> ... Page Not Found</h1></li>    
    <li><p>It's sad to inform you that the URL you are trying to access <b>seems to be incorrect or may be broken.</b></p></li>
    <li id="help">Let us help you find out the correct page... <img src="..\assets\images\happy.png" alt="" id="happy-img"></li>
    <button routerLink="">Get Me the Correct Page</button>
</ul>
</div>