@media screen and (max-width:768px) {
    .Content__WidgetContainer-sc-3sh3bs-2{
        padding-left: 1rem;
    }
    .RWsCS{
        padding-left: 1rem;
    }
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border: none;
}

.custom-back-button{
    background-color: #5900ff;
    text-align: center;
}