<section class="section is-medium is-primary has-text-centered is-long">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">&#x275B;&#x275B; Hi, I’m Omkar. Nice to meet you&#33; &#x275C;&#x275C;</h1>
          <h2 class="subtitle is-size-5-desktop has-text-weight-normal">I am an IT fresher with knowledge and experience of development and various machine learning techniques. Through various projects and certifications I have also gained insights on Deep Learning and Data Analytics strategies. I love to work in a collaborative environment with a dynamic team which opens up the opportunity to continuously learn new things.</h2>
        </div>
      </div>
    </div>
  </section>