<div class="about-me" [ngClass]="{'hide-component':!isScrolled300, 'show-component':isScrolled300}" id="about-me-main">
    <div class="about-me-inner" id="about-me-inner">
        <div class="about-me-heading">
            <img src="..\assets\images\about-icon.png" alt="">
            <h2 class="hover">A bit <span>About Me</span></h2>
        </div>
        <div class="pic-text" [ngClass]="{'hide-component':!isScrolled400, 'show-component':isScrolled400}" id="text">
            <div class="about-pic" [ngClass]="{'hide-pic':!isScrolled450, 'show-pic':isScrolled450}" id="about-me-pic">
                <img src="..\assets\images\personal-pic.jpg" alt="" class="rotate-on-scroll">
            </div>
            <div class="about-text">
                <div class="text-heading">
                    <h3>Omkar Joshi</h3>
                    <p><img src="..\assets\images\location.png" alt="">Nagpur, India</p>
                </div>
                <p>I am an accomplished IT student with a strong focus on application development and a diverse skill
                    set. My experience lies in working with Spring Framework, Spring Boot, and RESTful services, where I
                    have successfully fixed existing bugs and optimized code for enhanced performance. I have a solid
                    understanding of backend development using technologies such as C/C++, Java and Python, and I have
                    worked with databases like MySQL and PostgreSQL.
                    I have also gained experience in frontend development by exploring the Angular framework and
                    successfully handling component bugs and version upgrades. Alongside HTML, CSS, and JavaScript, I
                    have implemented test-driven development practices to ensure the reliability and quality of the
                    developed components.
                    Apart from my academic pursuits, I have completed various certifications in Python programming,
                    JavaScript, algorithms, and data analytics. Along with the technical aspect I have explored the
                    field of Project Management through courses and certifications. These certifications have provided
                    me with a comprehensive understanding of these technologies and have strengthened my problem-solving
                    abilities</p>
            </div>
        </div>
    </div>
</div>
