<div class="outer-intern">
    <div class="intern-heading">
        <img src="..\assets\images\portfolio.png" alt="portfolio-intern">
        <h2 class="hover"><span>Experience </span>Portfolio</h2>
    </div>
    <div class="inner-intern">
        <div class="card-container">
            <div class="card">
                <img src="..\assets\images\niq.webp" alt="Card Image">
                <div class="card-content">
                    <h2>NielsenIQ</h2>
                    <p><b>&bullet; May, 2024 - Present (11 months)</b></p>
                    <p><b>&bullet; Hybrid, India</b></p>
                    <p><b>&bullet; Groovy Grails, .NET, Angular, Azure, MSSQL</b></p>
                    <p><b>Working as a part of Study Analytics Team. Worked on Pack-ID deliverable for forecasting
                            Platform in NIQ BASES. Also, part of KMA (Key Metrics Analytics) team to maintain the legacy
                            .NET application and migrated couple of micro-services to the newer version of .NET
                            framework. Contributed to the migration of On-Premise legacy application to cloud, along
                            with design and implementation of various user-centric automated workflows.
                        </b></p>
                    <a href="https://growth99.com/" class="card-link" target="_blank">
                        Company Page <i class="fa fa-arrow-right"></i>
                    </a>
                    <!-- <a class="card-link certificate-link" target="_blank"
                        onclick="alert('Internship is still being pursued.')">
                        <i class="fa-solid fa-certificate" style="color: #ffffff;"></i> View Certificate
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>