<div class="short-timeline">
    <div class="short-timeline-heading">
      <img src="..\assets\images\timeline.png" alt="">
      <h2 class="hover" id="bigger-heading">Remembering the <span>Past</span></h2>
      <h2 class="hover" id="smaller-heading">My <span>Timeline</span></h2>
    </div>
    <div class="inner-short-timeline">
      <ul id='timeline'>
        <li class='work'>
          <input class='radio' id='work5' name='works' type='radio' checked>
          <div class="relative">
            <label for='work5'>Started Schooling at Somalwar Nikalas</label>
            <span class='date'>May 2007</span>
            <span class='circle'></span>
          </div>
          <div class='content'>
            <p>
              Started schooling for secondary education at Somalwar Nikalas, Nagpur in the year 2007.
            </p>
          </div>
        </li>
        <li class='work'>
          <input class='radio' id='work4' name='works' type='radio'>
          <div class="relative">
            <label for='work4'>Completed Secondary Education</label>
            <span class='date'>May, 2017</span>
            <span class='circle'></span>
          </div>
          <div class='content'>
            <p>
              Completed Secondary Education (SSC), and passed from Somalwar Nikalas High School with 89.20% in boards examination.
            </p>
          </div>
        </li>
        <li class='work'>
          <input class='radio' id='work3' name='works' type='radio'>
          <div class="relative">
            <label for='work3'>Completed Higher Secondary Education</label>
            <span class='date'>May, 2019</span>
            <span class='circle'></span>
          </div>
          <div class='content'>
            <p>
              Completed Higher Secondary Education (HSC), and passed from Santaji Mahavidyalaya, Nagpur in 2019 with a score of 83.38% in boards examination.
            </p>
          </div>
        </li>  
      </ul>
    </div>
    <div class="timeline-button">
      <button routerLink="timeline">View More</button>
    </div>
  </div>