<section class="intro">
    <div class="container">
        <h1>Every accomplishment starts with the decision to try! <b>&darr;</b></h1>
    </div>
</section>

<section class="timeline">
    <ul>
        <li>
            <div>
                <time>2007</time>
                <h2>Started Schooling at Somalwar Nikalas, Nagpur</h2>
                <p>
                    Started schooling at Somalwar Nikalas, Nagpur in the year 2007.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>2017</time>
                <h2>Completed Secondary Education (SSC)</h2>
                <p>
                    Completed Secondary Education (SSC), and passed from Somalwar Nikalas High School with <b>89.20%</b>
                    in boards examination.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>2019</time>
                <h2>Completed Higher Secondary Education (HSC)</h2>
                <p>
                    Completed Higher Secondary Education (HSC), and passed from Santaji Mahavidyalaya, Nagpur in 2019
                    with a score of <b>83.38%</b> in boards examination.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>May, 2020</time>
                <h2>Started Internship at Knowledge Solutions India</h2>
                <p>
                    Started a internship at Knowledge Solutions India (KSI).
                    It was Machine Learning, Deep Learning based internship with hands-on training and projects.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>Aug, 2019</time>
                <h2>Completed Internship at Knowledge Solutions India</h2>
                <p>
                    The internship was concluded with a final project and thesis submission.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>May, 2022</time>
                <h2>Started Internship at Persistent Systems as Summer Intern</h2>
                <p>
                    Selected into the Martian Program conducted by Persistent Systems for summer interns.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>Aug, 2022</time>
                <h2>Completed Internship at Persistent Systems as Summer Intern</h2>
                <p>
                    Completed the Martian Program, acquired thorough Knowledge of Computer Science fundamentals and
                    various technologies like Shell Scripting, Linux etc.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>Jan, 2023</time>
                <h2>Started Internship at Kizora Systems</h2>
                <p>
                    Started a part-time internship at Kizora Systems. Worked on new technologies related to Machine
                    Learning and Deep Learning.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>Feb, 2023</time>
                <h2>Completed Internship at Kizora Systems</h2>
                <p>
                    Gained a deep Knowledge of libraries like TensorFlow, Media Pipe, Open 3D, YOLO and worked on
                    android application development using TensorFlow lite.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>Feb, 2023</time>
                <h2>Started Internship at NielsenIQ (NIQ)</h2>
                <p>
                    Started a full time internship as a part of degree requirement.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>May, 2023</time>
                <h2>Completed Internship at NielsenIQ (NIQ)</h2>
                <p>
                    Completed a full time internship as a part of degree requirement. Worked on technologies like
                    Angular, Java, Spring Boot and PostgreSQL as a part of Backend Team.
                </p>
            </div>
        </li>
        <li>
            <div>
                <time>July, 2023</time>
                <h2>Completed Bachelor of Engineering (B.E)</h2>
                <p>
                    Completed Bachelor of Engineering from Yeshwantrao Chavan College of Engineering with an overall GPA
                    of <b>9.72</b>.
                </p>
            </div>
        </li>
    </ul>
</section>
<div class="time-button">
    <button routerLink="" class="button is-primary custom-color">Homepage</button>
</div>
<app-scroll-to-top></app-scroll-to-top>