/* Define the card container */
.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some spacing between cards */
  justify-content: space-between; /* Add gaps on left and right */
  padding: 1.5rem;
}

/* Style for individual card */
.card {
  width: calc(50% - 10px); /* Two cards per row for smaller screens with spacing */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Improved box shadow */
  overflow: hidden;
  transition: transform 0.2s; /* Add a hover animation */
  margin-bottom: 20px; /* Add margin between cards */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style for card image (smaller and centered) */
/* Style for card image (smaller and centered) */
.card-image {
  width: 100%;
  max-height: 200px; /* Decrease image height to make it smaller */
  object-fit: contain; /* Keep the entire image visible */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px; /* Add margin between image and content */
  margin-top: 10px; /* Add margin at the top */
}

/* Style for card content */
.card-content {
  margin-top: 1rem;
  padding: 20px;
  flex-grow: 1; /* Expand the content to take remaining space */
  display: flex;
  flex-direction: column;
}

/* Add a purple background color to the card header */
.card-content h2 {
  background-color: #800080; /* Purple color */
  color: #fff;
  /* background-clip: text; */
  /* color: transparent; */
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 4px;
  margin: 0;
}

/* Style for card info */
.card-info {
  color: #6E07F3;
  margin-top: 1rem;
  font-size: 18px;
  margin-bottom: 15px; /* Increase margin for technologies */
  font-weight: bold; /* Highlight technologies */
}

.card-duration{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 18px;
}

.project-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.project-heading h2 {
  letter-spacing: 2px;
  font-size: 40px;
}

.project-heading h2>span {
  color: rgb(30, 0, 139);
  text-shadow: 1px 1px 1px #7700ff;
}

.hover {
  color: #0000;
  background:
    linear-gradient(90deg, rgb(30, 0, 139) 50%, #000 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.hover:hover {
  cursor: pointer;
  --_p: 0%;
  text-shadow: 2px 2px 2px #7700ff;
}

.project-heading img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.project-heading img:hover {
  animation: flyRocket 6s linear 5;
}

@keyframes flyRocket {
  0%{
   transform: rotate(-45deg);
  }
  25%{
   transform: rotate(0) translateY(1em);
  }
  50%{
   transform: rotate(0) translateY(0.5em);
  }
  75%{
   transform: rotate(180deg) translateY(-1em);
  }
  100%{
   transform: rotate(360deg) translateY(-0.5em)
  }
 }

/* Style for card description */
.card-description {
  flex-grow: 1;
  text-align: justify;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02); /* Enlarge the card on hover */
}

#smaller-heading{
  display: none;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* One card per row for mobile screens */
  }
  .project-heading h2 {
    font-size: 24px;
  }
  #smaller-heading {
    display: block;
  }
  #bigger-heading{
    display: none;
  }
}