.hero {
    padding-top: 2rem;
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.has-text-centered {
    text-align: center !important;
}

section {
    display: block;
}

.avatar {
    margin: 2rem 0;
    width: 150px;
}

@media screen and (min-width: 769px){
.avatar {
    width: 210px;
}
}

