@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Hi+Melody&family=IBM+Plex+Sans:wght@300&family=Indie+Flower&family=Satisfy&family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Finger+Paint&family=Glory:wght@500&family=Marko+One&family=Miltonian+Tattoo&family=Pompiere&family=Smythe&family=Syne+Tactile&family=Twinkle+Star&display=swap');

.social-icons {
    display: flex;
    flex-wrap: wrap;
    /* Allow icons to wrap to the next line */
    text-align: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    color: black;
}

.social-icons a {
    display: inline-block;
    /* Prevent icons from stretching to full width */
    margin: 0 40px;
    /* Adjust spacing between icons */
}


.social-icons i{
    font-size: 40px;
}



.developer {
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 20px;
    line-height: 0.7;
    padding-bottom: 12px;
    letter-spacing: 4px;
    text-align: center;
    background-color: white;
}


.developer span{
    font-weight: 800;
}

.developer ul li{
    line-height: 1.5;
    list-style: none;
}

.logo{
    margin-bottom: 1rem;
}

.logo img{
    width: 20%;
}

.logo img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.social-icons a.button:hover {
    background: #ffffff;
    color: #6E07F3;
    border: 2px solid white;
}
@media screen and (min-width: 769px){
footer .social-icons a.button.is-medium {
    font-size: 1.18rem;
}
}
footer .social-icons a.button.is-medium {
    font-size: 1.05rem;
}
@media screen and (min-width: 769px){
footer .social-icons a.button {
    margin: 0 0.8rem;
}
}
footer .social-icons a.button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 100%;
    margin: 0 0.2rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.button.is-medium {
    font-size: 1.25rem;
}
.button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636;
}
.button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636;
}

@media screen and (max-width: 768px) {
    .social-icons {
        flex-direction: row;
        /* Keep icons in one row */
        justify-content: space-evenly;
        /* Center align the icons */
        align-items: center;
        /* Center vertically */
        padding: 10px;
        /* Adjust padding as needed */
    }

    /* Decrease icon size and increase margin to fit in one row */
    .social-icons a {
        margin: 0 5px;
        /* Adjust spacing between icons */
    }

    .social-icons img {
        width: 20px;
        /* Adjust the width as needed */
        height: auto;
        /* Maintain aspect ratio */
        transition: transform 0.2s;
        /* Add a smooth transition effect on hover */
    }

    /* Optional: Increase size on hover (adjust as needed) */
    .social-icons img:hover {
        transform: scale(1.2);
    }
}

@media screen and (min-width:860px) and (max-width:1000px) {
    #for-mobile-desktop{
        display:none;
    }
}

.new_footer_area {
    background: #fbfbfd;
    margin-bottom: 2rem;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}



.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

.custom-feedback-button{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(rgb(144, 25, 255), rgb(81, 46, 209));
    box-shadow: 1px 1px 2px black;
    color: white;
    font-size: 20px;
}

.custom-feedback-button:hover{
    text-decoration: underline;
    color: white;
    text-decoration-thickness: 1px;
}