<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="..\assets\images\instagram.png" alt="Instagram">
            </a>
            <a href="https://twitter.com/home?lang=en" target="_blank">
                <img src="..\assets\images\twitter.png" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com/in/omksamjoshi2001/" target="_blank">
                <img src="..\assets\images\linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/Omkar110401" target="_blank">
                <img src="..\assets\images\git.png" alt="Github">
            </a>
            <a href="https://discordapp.com/users/omkarjoshi_1104" target="_blank">
                <img src="..\assets\images\discord.png" alt="Discord">
            </a>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>

    <div class="developer">
        <ul>
            <li>
                <div class="logo">
                    <img src="..\assets\images\logo.png" alt="">
                </div>
            </li>
            <li>Developed By: <span>Omkar Joshi</span></li>
            <li>&#169;<span>2023</span></li>
        </ul>
    </div>
</footer>