<div class="outer-skills" >
    <div class="inner-skills" >
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <!-- Modify each skill card as follows -->
                <div class="ag-courses_item" >
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\c and c++.png">
                        </div>
                        <div class="ag-courses-item_title">
                            C/C++
                        </div>
                        <!-- Add the location information here (hidden initially) -->
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, Curriculum
                            </span>
                        </div>
                    </a>
                </div>
                <!-- Repeat the above structure for other skills -->
                <div class="ag-courses_item" >
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\java.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Java
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, Curriculum
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item" >
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\python.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Python
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, Curriculum
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\mysql.png">
                        </div>
                        <div class="ag-courses-item_title">
                            MySQL
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, Curriculum
                            </span>
                        </div>
                    </a>
                </div>

                

                <div class="ag-courses_item" >
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\pandas.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Pandas
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\numpy.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Numpy
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\tensorflow.png">
                        </div>
                        <div class="ag-courses-item_title">
                            TensorFlow
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\html.png">
                        </div>
                        <div class="ag-courses-item_title">
                            HTML
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\tableau.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Tableau
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\css.png">
                        </div>
                        <div class="ag-courses-item_title">
                            CSS
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\js.png">
                        </div>
                        <div class="ag-courses-item_title">
                            JavaScript
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\matplotlib.png">
                        </div>
                        <div class="ag-courses-item_title ag-courses-item_title">
                            Matplotlib
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships, College Projects

                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\postgresql.png">
                        </div>
                        <div class="ag-courses-item_title">
                            PgSQL
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\git.png">
                        </div>
                        <div class="ag-courses-item_title">
                            Git
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item" >
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\excel.png">
                        </div>
                        <div class="ag-courses-item_title">
                            MS Excel
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships
                            </span>
                        </div>
                    </a>
                </div>
                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            <img src="..\assets\images\angular.jpg">
                        </div>
                        <div class="ag-courses-item_title">
                            Angular
                        </div>
                        <div class="ag-courses-item_date-box">
                            <span class="ag-courses-item_date">
                                Personal Projects, Internships
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>