<div class="skills" style="padding: 2rem;">
    <div class="title">
        <h1 style="font-size: 28px;text-align: center;font-weight: 600;letter-spacing: 2px;">Skills</h1>
    </div>
    <div class="cards" *ngFor="let skills of skillsData">
        <div class="card-content">
            <div class="card-image">
                <img [src]='skills.image' alt="">
            </div>
            <div class="content">
                <h1>{{skills.name}}</h1>
                <p>{{skills.description}}</p>
            </div>
        </div>
    </div>
</div>
