.cards {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto; /* Center the cards */
    margin-bottom: 1rem;
    border-radius: 15px;
}

.cards:hover{
    cursor: pointer;
    animation: slideLeft 0.5s linear;
}

@keyframes slideLeft{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}

.card-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card-image img {
    width: 100px;
    height: 100px;
}

.content {
    width: 50%;
    padding: 10px;
}

.content h1{
    font-size: 28px;
}

.content p{
    font-size: 20px;
}


.cards .card-content p {
    opacity: 0;
    transition: opacity 0.5s ease; /* Add a transition for a smoother effect */
}

.cards .card-content:hover p {
    opacity: 1;
}

.cards:nth-child(1){
    background: radial-gradient(rgb(255, 157, 157), rgb(233, 233, 233))/* Color for the first card */
}

.cards:nth-child(2){
    background: radial-gradient(#ccffcc, rgb(233, 233, 233)); /* Color for the second card */
}

.cards:nth-child(3){
    background: radial-gradient(rgb(199, 199, 12),rgb(233, 233, 233)) /* Color for the second card */
}
.cards:nth-child(4){
    background: radial-gradient(rgb(133, 62, 133), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(5){
    background: radial-gradient(rgb(19, 126, 126), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(6){
    background: radial-gradient(rgb(180, 67, 92), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(7){
    background: radial-gradient(rgb(85, 233, 97), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(8){
    background: radial-gradient(rgb(180, 112, 67), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(9){
    background: radial-gradient(rgb(157, 88, 236), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(10){
    background: radial-gradient(rgb(88, 90, 236), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(11){
    background: radial-gradient(rgb(19, 126, 126), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(12){
    background: radial-gradient(rgb(180, 112, 67), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(13){
    background: radial-gradient(rgb(88, 90, 236), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(14){
    background: radial-gradient(rgb(180, 67, 92), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(15){
    background: radial-gradient(rgb(88, 90, 236), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(16){
    background: radial-gradient(rgb(199, 199, 12),rgb(233, 233, 233)) /* Color for the second card */
}
.cards:nth-child(17){
    background: radial-gradient(rgb(255, 157, 157), rgb(233, 233, 233))/* Color for the first card */
}
.cards:nth-child(18){
    background: radial-gradient(rgb(19, 126, 126), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(19){
    background: radial-gradient(rgb(199, 199, 12),rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(20){
    background: radial-gradient(rgb(180, 67, 92), rgb(233, 233, 233)); /* Color for the second card */
}
.cards:nth-child(21){
    background: radial-gradient(rgb(118, 180, 67), rgb(233, 233, 233)); /* Color for the second card */
}

@media screen and (max-width:768px) {
    .cards .card-content .card-image img{
        width: 50px;
        height: 50px;
    }
    .cards .card-content .content h1{
        font-size: 22px;
    }
    .cards .card-content .content p{
        font-size: 16px;
    }
    .cards .card-content .content h1{
        font-size: 14px;
    }
}