<div class="outer-intern" >
    <div class="intern-heading">
        <img src="..\assets\images\portfolio.png" alt="">
        <h2 class="hover"><span>Internship </span>Portfolio</h2>
    </div>
    <div class="inner-intern">
        <div class="card-container">
            <div class="card">
                <img src="..\assets\images\niq.webp" alt="Card Image">
                <div class="card-content">
                    <h2>NielsenIQ</h2>
                    <p><b>Feb, 2023 - May, 2023 (3 months)</b></p>
                    <p><b>Pune, India</b></p>
                    <p><b>&bullet; Angular, Java, Spring Boot, PostgreSQL</b></p>
                    <p><b>The Internship was a part of degree requirement. Worked as a part of backend team to develop spring services, to manage bug fixes.
                        Increase Junit code coverage signifcantly and participated in product release.
                    </b>
                    </p>
                    <a href="https://nielseniq.com/global/en/" class="card-link" target="_blank">
                        <i class="fa fa-arrow-right"></i> Learn More
                    </a>
                </div>
            </div>
            <div class="card" >
                <img src="..\assets\images\kizora.webp" alt="Card Image">
                <div class="card-content">
                    <h2>Kizora Softwares</h2>
                    <p><b>Jan, 2023 - Feb, 2023 (1 month)</b></p>
                    <p><b>Nagpur, India</b></p>
                    <p><b>&bullet; Python, TensorFlow, TensorFlow lite, Android Studio, YOLO, Media Pipe, Open 3D</b></p>
                    <p><b>Worked on Machine Learning and Deep Learning Libraries. Worked on developing an application using TensorFlow and Media Pipe. Also, worked on developing an adroid application using TensorFlow lite.</b></p>
                    <a href="https://kizora.com/" class="card-link" target="_blank">
                        <i class="fa fa-arrow-right"></i> Learn More
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="..\assets\images\persistent.png" alt="Card Image">
                <div class="card-content">
                    <h2>Persistent Systems</h2>
                    <p><b>May, 2022 - Aug, 2022 (4 months)</b></p>
                    <p><b>Nagpur, India (Remote)</b></p>
                    <p><b>&bullet; Java, C/C++, SQL, Shell Scripting, Linux</b></p>
                    <p><b>As a summer intern worked using python, java. Got an opportunity to learn new technologies like Shell Scripting, Bash Scripting, Linux.</b></p>
                    <a href="https://www.persistent.com/" class="card-link" target="_blank">
                        <i class="fa fa-arrow-right"></i> Learn More
                    </a>
                </div>
            </div>
            <div class="card" >
                <img src="..\assets\images\ksi.png" alt="Card Image">
                <div class="card-content">
                    <h2>Knowledge Solutions India</h2>
                    <p><b>May, 2020 - Aug, 2020 (4 months)</b></p>
                    <p><b>Nagpur, India</b></p>
                    <p><b>&bullet; Python, Machine Learning, Pandas, Numpy, scikit-learn, Matplotlib</b></p>
                    <p><b>A Machine Learning based internship, worked on various libraries like pandas, numpy, scikit-learn and matplotlib. Final Project Submitted on Placement Prediction for predicting the chances of admission of a student based on academics and extra-curriculars.
                    </b></p>
                    <a href="" class="card-link">
                        <i class="fa fa-arrow-right"></i> Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>