<!-- <app-navbar id="navbar"></app-navbar>
<app-intro id="intro"></app-intro>
<app-about-me id="about-me"></app-about-me>
<app-skill id="skill"></app-skill>
<app-experience id="experience"></app-experience>
<app-internship id="internship"></app-internship>
<app-education id="education"></app-education>
<app-projects id="project"></app-projects>
<app-footer id="contact-me"></app-footer>
<app-scroll-to-top></app-scroll-to-top> -->
<h2>Regret...</h2>
<p>We are migrating this site to other domain. We regret the inconvenience caused. Please check back after sometime...Thank you!</p>
